// Brand colours

$rq1: #4fc3d1; // Primary Turquoise
$rq2: #b0bec5; // Primary Grey
$rq3: #00838f; // Secondary Turquoise
$rq4: #37474f; // Dark Turquoise
$rq5: #eceff1; // Light Grey
$rq6: #90a4ae; // Teal Grey

$rq7: #9ccc65; // Success Green
