<nav class="row full-width">
  <div class="medium-9 columns">
    <ul class="top-bar__nav">
      <li class="top-bar__nav__item"><a href="#">File</a></li>
      <li class="top-bar__nav__item"><a href="#">Alerts</a></li>
      <li class="top-bar__nav__item"><a href="#">Templates</a></li>
      <li class="top-bar__nav__item"><a href="#">Reports</a></li>
      <li class="top-bar__nav__item"><a href="#">Tools</a></li>
      <li class="top-bar__nav__item"><a href="#">Help</a></li>
    </ul>
  </div>
  <div class="medium-3 columns">
    <a href class="top-bar__toggle left-off-canvas-toggle icon-menu"></a>
    <a href="#" class="logo">Reproquo</a>
  </div>
</nav>
