<div class="row">
  <div class="secondary-nav">
    <div class="small-12 columns">
      <nav custom-scrollbar>
        <ul>
          <li class="active"><a href="#customers">Active</a></li>
          <li><a href="#customers">Prospect</a></li>
          <li><a href="#customers">Details</a></li>
          <li><a href="#customers">Quotes</a></li>
          <li><a href="#customers">Devices</a></li>
          <li><a href="#customers">Delivery Address</a></li>
          <li><a href="#customers">Warning</a></li>
          <li><a href="#customers">Progress</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <div ng-include src="'partials/news_alerts.html'" class="show-for-medium-up"></div>
    </div>
    <div ng-controller="CustomersController" class="small-12 columns">
      <div class="table-controls table-controls--customers">
        <div class="row collapse">
          <div class="small-12 columns">
            <div class="table-controls-switches">
              <div class="row collapse">
                <div class="small-12 columns">
                  <a class="icon-plus new-button"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table customer-table">
        <table class="responsive">
          <thead>
            <tr>
              <th width="" ng-repeat="header in getHeader(customers[0]) track by $index">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in customers">
              <td width="" ng-repeat="cell in getValue(row) track by $index">{{cell}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
