<div class="row">
  <div class="secondary-nav">
    <div class="small-12 columns">
      <nav custom-scrollbar>
        <ul>
          <li class="active"><a href="#orders">All orders</a></li>
          <li><a href="#orders">Pending orders</a></li>
          <li><a href="#orders">Previous orders</a></li>
          <li><a href="#orders">Standing orders</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <div ng-include src="'partials/news_alerts.html'" class="show-for-medium-up"></div>
    </div>
    <div ng-controller="OrdersController" class="small-12 columns">
      <div class="table-controls table-controls--orders">
        <div class="row collapse">
          <div class="small-10 large-8 columns">
            <div class="row collapse">
              <div class="small-12 medium-6 columns">
                <input type="text" class="input-field" placeholder="Invoice no." />
              </div>
              <div class="small-12 medium-6 columns">
                <a class="button search-button">Filter</a>
                <a class="button secondary clear-button">Clear</a>
              </div>
            </div>
          </div>
          <div class="small-2 large-4 columns">
            <div class="table-controls-switches">
              <div class="row collapse">
                <div class="small-12 columns">
                  <a class="icon-plus new-button"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table order-table">
        <table class="responsive">
          <thead>
            <tr>
              <th width="" ng-repeat="header in getHeader(orders[0]) track by $index">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in orders">
              <td width="" ng-repeat="cell in getValue(row) track by $index">{{cell}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="footer">
        <div class="row collapse">
          <div class="small-12 medium-6 columns">
            <div class="footer__left">
              <a href class="button">Search</a>
              <a href class="button">Templates</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
